*{
    margin: 0px;
    padding: 0px;
}

body{

    background: url(bg.jpg.jpg) no-repeat center center fixed;
    background-size: cover;
}

.container{
    color: white;
    position: absolute;
    top: 25%;
    left: 75%;
}

.container h1{
    font-size: 40px;
    border-bottom: 5px  solid yellow;
    margin-bottom: 10px;
    padding: 13px;
    display: inline-block;
}

.box{
    width: 100%;
    border-bottom: 1px dotted yellow;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;

}

.box input{
    width: 75%;
    font-size: 15px;
    background:none;
    outline: none;
    border: none;
    padding: 3px;
    color: white;
}

.box i{
    text-align: center;
    width: 25px;
    padding: 0px 12px;
}


.btn{
    cursor: pointer;
    outline: none   ;
    margin-top: 12px;
    border-radius: 5px;
    border: 2px solid yellow;
    margin-left: 65px;
    padding: 10px;
    color: white;
    background: none;
}